@model WebApplication2.Models.Prodacts

<div class="card shadow-sm mt-4">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">إضافة منتج جديد</h5>
    </div>

    <form action="/Admin/Prodacts/Edit" method="post" class="card-body" enctype="multipart/form-data">

        <input name="Id" value="@Model.Id" type="hidden" />



        <div class="mb-3">

            <label class="form-label fw-bold">Name</label>
            <input name="Name" value="@Model.Name" class="form-control form-control-lg" placeholder="أدخل اسم التصنيف" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Description</label>
            <textarea name="Description" class="form-control" rows="3">@Model.Description</textarea>
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold">Status</label>
            <input name="Status" value="@Model.Status" class="form-control form-control-lg" placeholder= />
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold">Image</label>
            <input type="file" value="@Model.Image" name="file" class="form-control form-control-lg" placeholder="أدخل اسم التصنيف" />
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold">catgry</label>
            <select name="CategoryId">
                @foreach (var item in ViewBag.Categories)
                {

                    <option value="@item.Id" selected>@item.Name</option>
                }

            </select>

        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-primary px-4">إضافة</button>
        </div>
    </form>
</div>

